/* Global */
@import 
    url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
    background: rgba(255, 235, 0, 0.25);
    font-family: 'Crimson Text', serif;

}

/* Typography */

h1, h2, h3, h4, h6 {
    font-family: 'Ubuntu', sans-serif;
    
}
h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}